<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- stylesheet -->
		<link rel="stylesheet" type="text/css" href="style.css">
		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
		<script src="float-panel.js"></script>
	</head>
	<body>
		<%-include("header")-%>
		<div class="informationdiv">
			<div class="forms">
				<form method="post"  >
					<h4>order</h4><br>
					<label > order id</label ><input style="margin-left: 40px" type="text"  name="order_id" maxlength="5" required="required"><br>
					<label>  products_id</label><input style ="margin-left:15px" type="text"  name="products_id" maxlength="5" required="required"><br>
					<label> products_no</label><input style="margin-left: 10px" type="number"  name="products_no" required="required"><br>
					
					<button style="margin-top: 10px" type="submit" >submit</button>
				</form>
			</div >
			<div class="tables">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">order_id</th>
							<th scope="col">products_id</th>
							<th scope="col">products_no</th>
							<th scope="col">company_id</th>
							<th scope="col">order_date</th>
							<th scope="col">edit</th>
							<th scope="col">Delete</th>
						</tr>
					</thead>
					<tbody>
						<% order.forEach(function(item){%>
						<tr>
							<th scope="row"></th>
							<td><%=item.order_id %> </td>
							<td><%=item.products_id %></td>
							<td><%=item.products_no %></td>
							<td><%=item.company_id%></td>
							<td><%=item.order_date%></td>
							<td><a style="text-decoration-line: none;color:#54e346"href="/orderEdit/<%= item.order_id%>">edit</a></td>
							<td><a style="text-decoration-line: none;color:#54e346"href="/order/<%= item.order_id%>" onClick="return confirm('are you sure to delete')">delete</a>
						</tr>
						<%}); %>
						
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>